@use '../../styles/base' as *;

a,
button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: 0;

    &:focus {
        outline: 0;
    }
}

/*========================================================================== */

.c-btn {
    @include typo_aeonik_14-16;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 20px 32px;
    text-align: center;
    letter-spacing: 0.03em;
    user-select: none;
    border: 1px solid;
    border-radius: 30px;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;

    [class^='icon-'] {
        display: inline-block;
        font-size: 24px;
    }

    &.-primary {
        color: $color_white;
        background-color: $color_pumpkin;
        border-color: $color_pumpkin;

        &:hover {
            @include respond-above(md) {
                background-color: $color_pumpkin_dark;
                border-color: $color_pumpkin_dark;
            }
        }

        &.-alt {
            background-color: $color_cinder;
        }
    }
    &.-secondary {
        color: $color_cinder;
        background-color: $color_white;
        border-color: $color_stroke;

        &:hover {
            border-color: $color_cinder;
        }
    }
    &.-disabled {
        color: $color_disabled;
        pointer-events: none;
        cursor: default;
        background-color: $color_grey;
        border: 1px solid $color_stroke;
    }

}

/******************************************************/

.c-link {
    @include typo_aeonik_14-20;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: color 100ms ease-in;

    &::after {
        position: absolute;
        bottom: 4px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        transition: background-color 100ms ease-in;
    }
    &.-primary {
        color: $color_pumpkin;

        &:hover {
            @include respond-above(md) {
                color: $color_pumpkin-dark;

                &::after {
                    background-color: $color_pumpkin-dark;
                }
            }
        }
        &::after {
            background-color: $color_pumpkin;
        }
    }
    &.-secondary {
        color: $color_cinder;

        &:hover {
            @include respond-above(md) {
                color: $color_black-2;

                &::after {
                    background-color: $color_black-2;
                }
            }
        }
        &::after {
            background-color: $color_cinder;
        }
    }
    &.-loading {

    }
    &.-disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}
