@use '@/styles/base' as *;

.gameScreen {
  display: flex;
  justify-content: center;
  height: 100dvh;
  width: 100vw;
  background-color: $color-gray-light;

  &_question {
    padding: 133px 0 122px 0;
    flex: 1;
  }

  &_prizes {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 376px;
    width: 376px;
    background-color: $color-white-default;
  }

  @include respond-below(xl) {
    &_question {
      padding: 133px 0 102px 0;
    }
  }

  @include respond-below(md) {
    &_question {
      padding: 80px 0 60px 0;
    }
    &_prizes {
      display: none;
    }
  }

  @include respond-below(sm) {
    &_question {
      padding: 236px 16px 80px 16px;
    }
  }
}
