/* ==========================================================================
 Spacings
 ========================================================================== */

@use 'mixins' as *;

/* Padding top
 ========================================================================== */

$pt: 0, 4, 8, 12, 14, 16;

@each $p in $pt {
  .-pt#{$p} {
    padding-top: #{$p}px;
  }
}

/* Padding top - lg
 ========================================================================== */

$pt_lg: 0;

@include respond-below(lg) {
  @each $p in $pt_lg {
    .-pt#{$p}lg {
      padding-top: #{$p}px;
    }
  }
}

/* Padding top - md
 ========================================================================== */

$pt_md: 0, 8, 16;

@include respond-below(md) {
  @each $p in $pt_md {
    .-pt#{$p}md {
      padding-top: #{$p}px;
    }
  }
}

/* Padding bottom
 ========================================================================== */

$pb: 0, 2, 4, 8;

@each $p in $pb {
  .-pb#{$p} {
    padding-bottom: #{$p}px;
  }
}

/* Padding bottom - md
========================================================================== */

$pb_md: 0, 8, 12, 16;

@include respond-below(md) {
  @each $p in $pb_md {
    .-pb#{$p}md {
      padding-bottom: #{$p}px;
    }
  }
}

/* Padding bottom - sm
========================================================================== */

$pb_sm: 0;

@include respond-below(sm) {
  @each $p in $pb_sm {
    .-pb#{$p}sm {
      padding-bottom: #{$p}px;
    }
  }
}

/* Margin top
========================================================================== */

$mt: 0, 2, 4, 6, 8, 10, 12, 14, 16, 64, 133;

@each $m in $mt {
  .-mt#{$m} {
    margin-top: #{$m}px;
  }
}

/* Padding top - lg
 ========================================================================== */

$mt_lg: 0, 28;

@include respond-below(lg) {
  @each $p in $mt_lg {
    .-mt#{$p}lg {
      margin-top: #{$p}px;
    }
  }
}

/* Margin top - md
 ========================================================================== */

$mt_md: 0, 4, 8, 12, 16, 100;

@include respond-below(md) {
  @each $m in $mt_md {
    .-mt#{$m}md {
      margin-top: #{$m}px;
    }
  }
}

/* Margin top - sm
 ========================================================================== */

$mt_sm: 24;

@include respond-below(sm) {
  @each $m in $mt_sm {
    .-mt#{$m}sm {
      margin-top: #{$m}px;
    }
  }
}

/* Margin right
========================================================================== */

$mr: 0, 8;

@each $m in $mr {
  .-mr#{$m} {
    margin-right: #{$m}px;
  }
}

/* Margin right - md
========================================================================== */

$mr_md: 0, 16;

@include respond-below(md) {
  @each $m in $mr_md {
    .-mr#{$m}md {
      margin-right: #{$m}px !important;
    }
  }
}

/* Margin left - md
========================================================================== */

$ml_md: 0, 16, 64;

@include respond-below(md) {
  @each $m in $ml_md {
    .-ml#{$m}md {
      margin-left: #{$m}px !important;
    }
  }
}

/* Margin bottom
========================================================================== */

$mb: 0, 2, 4, 8, 10, 12, 16, 64, 122;

@each $m in $mb {
  .-mb#{$m} {
    margin-bottom: #{$m}px;
  }
}

/* Margin bottom - md
========================================================================== */

$mb_md: 0, 8, 10, 12, 16, 80;

@include respond-below(md) {
  @each $m in $mb_md {
    .-mb#{$m}md {
      margin-bottom: #{$m}px;
    }
  }
}

/* Margin bottom - sm
========================================================================== */

$mb_sm: 0;

@include respond-below(sm) {
  @each $m in $mb_sm {
    .-mb#{$m}sm {
      margin-bottom: #{$m}px;
    }
  }
}
